<!-- emailTemplate.hbs -->
<!DOCTYPE html>
<html>
<head>
    <title>Email Verification</title>
</head>
<body>
    <h1>Hello, {{name}}!</h1>
    <p>Please click the link below to verify your email:</p>
    <a href="{{verifyLink}}">Verify Email</a>
    <p>Token {{token}}</p>
</body>
</html>
